*{
	margin:0;
	padding:0;
}
body{
	font-family:arial,sans-serif;
	font-size:100%;
	margin:3em;
	background:#666;
	color:#fff;
	background-image: url("/taskmanagement/static/images/bg.png");
	background-repeat:no-repeat;
	background-size:100% 100%;
}
#head1,#head2{
	color: white;
}
#head1{
	text-align:center;
}
#head2{
	text-align:center;
	margin-left: 15em;
	margin-right:15em;
	font-size: 2em;
}
#create_task{
	margin-left: 40em;
	align-content: center;
	padding: 2em;
	padding-bottom: 3em;
	padding-top: 3em;
	position: absolute;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
	color:yellow;
	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	height: 31em;
	width:45em;
	z-index: 1000;
	display: none;
	border-radius: .5em; 
}

h2,p{
	font-size:100%;
	font-weight:normal;
}
.hello1,li{
	list-style:none;
}
.hello1{
	overflow:hidden;
	padding:3em;
}
.hello1 li .hello{
	margin-bottom: 5em;
	font-size: 1em;
	text-decoration:none;
	color:#000;
	background:#ffc;
	display:block;
	height:20em;
	width:20em;
	padding:1em;
	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	-moz-transition:-moz-transform .15s linear;
	-o-transition:-o-transform .15s linear;
	-webkit-transition:-webkit-transform .15s linear;
}
.hello1 li{
	margin-top:4em;
	margin-right: 5em;
	float:left;
}
.hello1 li h2{
	font-size:3em;
	font-weight:bold;
	padding-bottom:10px;
}
.hello1 li p{
	font-family:"Reenie Beanie",arial,sans-serif;
	font-size:250%;
}
.hello1 li .hello{
	-webkit-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	-moz-transform:rotate(-6deg);
}
.hello1 li:nth-child(even) .hello{
	-o-transform:rotate(4deg);
	-webkit-transform:rotate(4deg);
	-moz-transform:rotate(4deg);
	position:relative;
	top:5px;
	background:#cfc;
}
.hello1 li:nth-child(3n) .hello{
	-o-transform:rotate(-3deg);
	-webkit-transform:rotate(-3deg);
	-moz-transform:rotate(-3deg);
	position:relative;
	top:-5px;
	background:#ccf;
}
.hello1 li:nth-child(5n) .hello{
	-o-transform:rotate(5deg);
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	position:relative;
	top:-10px;
}
.hello1 li .hello:hover,.hello1 li .hello:focus{
	box-shadow:10px 10px 7px rgba(0,0,0,.7);
	-moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
	-webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
	position:relative;
	z-index:5;
}
ol{text-align:center;}
ol li{display:inline;padding-right:1em;}
ol li .hello{color:#fff;}

#horny{
	float:right;
	margin-top:1%;
}
#hello{
	font-size:200%;
	margin-left: 88.2%;
	color: #0000FF;
}
#target{
float:right;
  clear:both;
  margin-top:4%;
 margin-right:5%;
}

#target a{
clear:both;
  color:darkblue;
  font-weight:bold;
  font-style:italic;
 font-size:150%;
 
}
#next,#prev{
	font-size:250%;
	color:darkblue;
	font-weight:bold;
	font-style:italic;
	letter-spacing:0.1em;
}
#approval{ 
 	margin-left:43%;
	margin-top:10%;
}
#access_denied{
	font-size: 2em;
	margin-left: 20em;
	align-content: center;
	padding: 2em;
	padding-bottom: 3em;
	position:fixed;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
	color:red;
	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	height:10em;
	width:25em;
	z-index: 100;
	display: none;
	border-radius: .5em; 
}
#sidetext{
	padding-right:5em;
	float: left;
}
.cancel{
	font-size: 1.3em;
	float:right;
	margin-top: -1.3em;
	margin-right: -.7em;
	cursor: pointer;
}

#mail_sent{
	font-size: 2em;
	margin-left: 20em;
	margin-top: 1.05em;
	align-content: center;
	padding: 2em;
	padding-bottom: 3em;
	position:fixed;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
	color:red;
	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	height:10em;
	width:25em;
	z-index: 100;
	display: none;
	border-radius: .5em; 
}

#search21{
	
	font-style:italic;
	color:yellow;
	font-weight:bold;
}

#search22{
	
	font-style:italic;
	color:blue;
	font-weight:bold;
}

#search23{
	
	font-style:italic;
	color:black;
	font-weight:bold;
}
#target1 a{
	
	font-weight:bold;
	font-size:150%;
	font-style:italic;
	color:darkgreen;
	letter-spacing: 0.001em;
	
}

#target2 a{
	
	font-weight:bold;
	font-size:150%;
	font-style:italic;
	color:darkgreen;
	letter-spacing: 0.001em;
	
}

#target3 a{
	
	font-weight:bold;
	font-size:150%;
	font-style:italic;
	color:darkgreen;
	letter-spacing: 0.001em;
	
}
#cross{
    
    font-size: 2.5em;
	float:right;
	margin-top: -1.3em;
	margin-right: -.7em;
	cursor: pointer;
}
