{{extend 'layout.html'}}
<link href="{{=URL('static','css/main.css')}}" rel="stylesheet">
<script type="text/javascript">
function pop(div) {
	document.getElementById(div).style.display = 'block';
}
function hide(div) {
	document.getElementById(div).style.display = 'none';
}
document.onkeydown = function(evt) {
	evt = evt || window.event;
	if (evt.keyCode == 27) {
		hide('create_task');
	}
};
</script>

<select id="select">
	{{for i in store:}}
    {{if i.id!=auth.user.id:}}
	<option onClick='add("{{=i.email}}","{{=project.name}}","{{=auth.user.first_name}}","{{=auth.user.last_name}}",{{=request.args(0)}},{{=i.id}})'>{{=i.first_name}}</option>
	{{pass}}
	{{pass}}
</select>
{{if auth.user.id==project.created_by:}}
<div id="delete_pro">
			{{=A('Permanently Delete This Project',_href=URL('default','delete_pro',args=[request.args(0)]),_class="btn btn-primary")}}
</div>
{{pass}}
<div id="set">
	<button onClick="pop('create_task')">Add a Task</button>
</div>
<div id='create_task'>
	{{=form}}
</div>

<ul class="hello1">
	{{for task in tasks:}}
	{{i=0}}
	<li id=task_{{=task.id}}>
		<div  class="hello">
			<h3>{{=task.title}}</h3>
			{{=A('Add a Subtask',_href=URL('default','checklist',args=[request.args(0),task.id]),_class="btn btn-primary")}}

			<ul id="list_{{=task.id}}">
				{{for subtask in subtasks:
				if subtask.tid==task.id:
				i=i+1}}
				<li>
					{{if subtask.status==1:}}
					<div class="done" id="main_{{=subtask.id}}">
						{{else:}}
						<div class="todo" id="main_{{=subtask.id}}">
							{{pass}}
							<p class="subtask_desc">{{=i}}.){{=subtask.description}}</p>
							<a class="donebutton" onClick='funct({{=subtask.id}})'><span style='cursor:pointer'>Delete<span></a>
							<a class="delete" onClick='done({{=subtask.id}},{{=subtask.status}})'><span style='cursor:pointer'>Done<span></a>
							<select  name="move">
								<option >Move</option>
								{{for others in tasks:}}
								{{if others.title != task.title:}}
								<option onclick='move({{=subtask.id}},{{=others.id}},{{=task.id}})'>{{=others.title}}</option>
								{{pass}}
								{{pass}}
							</select> 
						</div>
				</li>
				{{pass}}
				{{pass}}
				<p class="task_desc"> {{=task.created_by.first_name}} {{=prettydate(task.created_on)}}</p>	
							<a class="donebutton" onClick='deletetask({{=task.id}})'><span style='cursor:pointer'>Delete This Task<span></a>
					</div>
	</li>
	{{pass}}
			</ul>

<script>
console.log('wha2')

function deletetask(commid){
	var hr = new XMLHttpRequest();
	var url = "{{=URL('deletetask')}}";
	var vars = "commid="+commid
		hr.open("POST",url, true);
	hr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	hr.onreadystatechange = function() {
		if(hr.readyState == 4 && hr.status == 200) {
			var return_data = hr.responseText;
			console.log(commid);
			var element = document.getElementById('task_' + commid);
			element.parentNode.removeChild(element);
		}
	};
	hr.send(vars); 
}


function move(moveit,moveto,movefrom){
	var hr = new XMLHttpRequest();
	var url = "{{=URL('move')}}";
	var vars = "it="+moveit+"&to="+moveto+"&from="+movefrom
		hr.open("POST",url, true);
	hr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	hr.onreadystatechange = function() {
		if(hr.readyState == 4 && hr.status == 200) {
			var return_data = hr.responseText;
			var element = document.getElementById('main_' + moveit);
			element.parentNode.removeChild(element);
			var new_task = element.outerHTML;
			$('#list_' + moveto ).prepend('<li>'+new_task+'</li>');
		}
	};
	hr.send(vars); 
}


function add(emailto,project_name,sender_fname,sender_lname,pid,uid){
	var hr = new XMLHttpRequest();
	var url = "{{=URL('add_member')}}";
	var vars = "emailto="+emailto+"&project_name="+project_name+"&sender_fname="+sender_fname+"&sender_lname="+sender_lname+"&uid="+uid+"&pid="+pid
		hr.open("POST",url, true);
	hr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	hr.onreadystatechange = function() {
		if(hr.readyState == 4 && hr.status == 200) {
			var return_data = hr.responseText;
		}
	};
	hr.send(vars); 
}

function funct(commid){
	var hr = new XMLHttpRequest();
	var url = "{{=URL('changeitall')}}";
	var vars = "commid="+commid
		hr.open("POST",url, true);
	hr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	hr.onreadystatechange = function() {
		if(hr.readyState == 4 && hr.status == 200) {
			var return_data = hr.responseText;
			var element = document.getElementById('main_' + commid);
			element.parentNode.removeChild(element);
		}
	};
	hr.send(vars); 
}

function done(commid,stat){
	var hr = new XMLHttpRequest();
	var url = "{{=URL('done')}}";
	var vars = "commid="+commid
		hr.open("POST",url, true);
	hr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	hr.onreadystatechange = function() {
		console.log(hr.readyState)
			if(hr.readyState == 4 && hr.status == 200) {
				var data = hr.responseText;	
				console.log(data)
				if(data == "0") 
				{
					$('#main_' + commid + ' > p:nth-child(1)').css('text-decoration', 'none');
//					$('#main_' +commid + ' > a:nth-child(3)).value="ramd";
				}
				else
				{
					$('#main_' + commid + ' > p:nth-child(1)').css('text-decoration', 'line-through');
				}
			}
	};
	hr.send(vars); 
}
console.log('wha2')
			</script>
